.container-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 4vw;
    flex-wrap: wrap;
}

.movies-box {
    height: 209px;
    width: 145px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 2px 4px 3px #0000001A;
    margin-bottom: 2vh;
}

.movies-box img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 5px;
    border-radius: 5px;
}

@media (max-width:300px) {
    .movies-wrapper {
        margin: 0;
    }

    .movies-box {
        height: 160px;
        width: 40%;
    }

}